<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userPropertiesOwned">
    <h4>Property Owned</h4>
    <table class="table table-responsive table-hover">
        <tr>
            <th>Category</th>
            <th>Price</th>
            <th>City / Address</th>
            <th>Available</th>
            <th>Owner</th>
        </tr>
        <tr th:each="property : ${userPropertiesOwned}">
            <td th:text="${property.category}"></td>
            <td th:text="${property.price}"></td>
            <td th:text="${property.address.city} +','+ ${property.address.street}+','+ ${property.address.number}"></td>
            <td th:text="${property.available}"></td>
            <td th:text="${property.owner.username}"></td>
        </tr>
    </table>
</div>
<div th:fragment="userPropertiesRenting">
    <h4>Property Renting</h4>
    <table class="table table-responsive table-hover">
        <tr>
            <th>Category</th>
            <th>Price</th>
            <th>City / Address</th>
            <th>Available</th>
            <th>Owner</th>
        </tr>
        <tr th:each="property : ${userPropertiesRenting}">
            <td th:text="${property.category}"></td>
            <td th:text="${property.price}"></td>
            <td th:text="${property.address.city} +','+ ${property.address.street}+','+ ${property.address.number}"></td>
            <td th:text="${property.available}"></td>
            <td th:text="${property.owner.username}"></td>
            <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == 1}">
                <td>
                    <form method="post" th:action="@{/pay}">
                        <input name="id" th:hidden="hidden" th:value="${property.id}">
                        <input name="price" th:hidden="hidden" th:value="${property.price}">
                        <button class="btn btn-outline-success" type="submit">Pay rent</button>
                    </form>
                </td>
            </div>
        </tr>
    </table>
</div>

</body>
</html>