body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    /*background-image: url([[@{/img/athens_jumbotron_1280.jpg}]]);*/

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}