
#myP {
    display: inline-block;
}

input[type="checkbox"][id^="ph"] {
    display: none;
}

#imgLabel {
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

#imgLabel:before {
    background-color: grey;
    color: white;
    content: "✓";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(1);
}

#imgLabel #checkImg {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

:checked ~ #imgLabel {
    border-color: #fff;
}

:checked ~ #imgLabel:before {
    content: " ";
    background-color: white;
    transform: scale(0);
}


