<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="fragments :: headerfiles" th:remove="tag"></div>
    <title id="pageTitle" th:text="#{Change.pass.page.title}">Change password</title>
    <meta th:content="#{Password.must.contain}" th:name="password_must_contain">
    <meta th:content="#{Password.length}" th:name="password_length">
    <meta th:content="#{Password.digits.symbols}" th:name="password_digits_symbols">
    <meta th:content="#{Password.lowercase}" th:name="password_lowercase">
    <meta th:content="#{Passwords.not.match}" th:name="passwords_not_match">
</head>
<body class="bg-light">
<nav class="py-4 px-3 navigation">
    <!-- Logo Band    -->
    <nav th:replace="fragments :: logo_band"></nav>
</nav>
<!-- Main body -->
<main class="bg-light py-4" id="mainParent">
    <div class="col-sm-6 offset-sm-3 col-12">
        <h3 class="text-center" th:text="#{Change.password}"></h3>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <p class="text-center text-secondary" th:text="#{Set.your.new.password}"></p>
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger" th:if="${messageDanger}">
                            <p class="text text-center" th:text="${messageDanger}"></p>
                        </div>
                        <form id="updateForm" method="post" th:action="@{/change-pass}" th:object="${changeUserPass}">
                            <fieldset>
                                <div class="form-group">
                                    <label class="form-control-label text-secondary" for="oldPassword"
                                           th:text="#{Password.old}">Old
                                        Password</label>
                                    <input class="form-control" id="oldPassword" th:field="*{oldPassword}"
                                           type="password"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label text-secondary" for="password"
                                           th:text="#{Password.new}">New
                                        Password</label>
                                    <div class="input-group">
                                        <input class="form-control" id="password" th:field="*{password}"
                                               type="password"/>
                                        <div class="input-group-append" id="showPassword">
                                            <i class="fa fa-eye input-group-text bg-light pt-2 btn"></i>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                                             class="progress-bar" id="passwordStrength" role="progressbar"></div>
                                    </div>
                                    <ul class="text-danger list-unstyled" data-target="error-list"
                                        th:each="error: ${#fields.errors('password')}">
                                        <li th:each="message :${error.split(',')}">
                                            <span th:text="${message}"></span>
                                        </li>
                                    </ul>

                                    <ul class="text-danger list-unstyled" data-target="error-list"
                                        id="passwordErrors"></ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label text-secondary" for="password2"
                                           th:text="#{Password.verify}"></label>
                                    <input class="form-control" id="password2" th:field="*{password2}"
                                           type="password"/>
                                    <div class="text text-danger"
                                         th:errors="*{global}" th:if="${#fields.hasErrors('global')}"></div>
                                    <ul class="text-danger list-unstyled" data-target="error-list"
                                        id="password2Errors"></ul>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-green text-white text-center" th:text="#{Change.password}"
                                            type="submit">Change Password
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments :: body_footer"></footer>
<div th:include="fragments :: scripts" th:remove="tag"></div>
<script th:src="@{/js/change-password.js}"></script>
</body>
</html>