<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title id="pageTitle" th:text="#{Users.list.page.title}">Users</title>
    <div th:include="fragments :: headerfiles" th:remove="tag"></div>
</head>
<body class="bg-light">
<nav class="pt-4 px-3 navigation">
    <!-- Logo Band    -->
    <nav class="" th:include="fragments :: logo_band"></nav>
    <!-- Nav bar -->
    <nav th:replace="fragments :: nav_bar"></nav>
    <!-- Main body -->
</nav>
<!-- Main body -->
<main class="bg-light py-4" id="mainParent">
    <div class="container">
        <h5 class="text-center pb-4" th:text="#{Users}">Users</h5>
        <div class="table-responsive table-hover">
            <table class="table">
                <tr>
                    <th th:text="#{ID}">ID</th>
                    <th th:text="#{Username}">Username</th>
                    <th th:text="#{Email}">Email</th>
                    <th th:text="#{Creation.date}">Creation Date</th>
                    <th th:text="#{Enabled}">Enabled</th>
                    <th th:text="#{Active}">Active</th>
                    <th th:text="#{Role}">Role</th>
                </tr>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.id}"></td>
                    <td><a th:href="@{'/mod/user/'+ ${user.id}}" th:text="${user.username}"/></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${#temporals.format(user.creationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td th:text="${user.nonLocked}"></td>
                    <td th:text="${user.userRole}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments :: body_footer"></footer>
<div th:include="fragments :: scripts" th:remove="tag"></div>
</body>
</html>