<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="fragments :: headerfiles" th:remove="tag"></div>
    <title id="pageTitle" th:utext="#{Home.page.title}">Home</title>
    <link rel="stylesheet" th:href="@{/css/search-style.css}">
    <link rel="stylesheet" th:href="@{/css/image_parallax.css}">
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="chat" th:content="#{Chat}">
    <meta name="chat_input_placeholder" th:content="#{Chat.input.placeholder}">

</head>
<body class="bg-light">

<nav class="pt-4 px-3 navigation">
    <!-- Logo Band    -->
    <nav class="" th:include="fragments :: logo_band"></nav>
    <!-- Nav bar -->
    <nav th:replace="fragments :: nav_bar"></nav>
    <!-- Main body -->
</nav>

<main class="bg-light pt-5" id="mainParent">
    <!-- Search bar -->
    <div class="bg-light sticky-top" th:include="fragments :: search_bar"></div>
    <section class="px-2">
        <div class="alert alert-success" th:if="${messageSuccess}">
            <p class="text text-center" th:text="${messageSuccess}"></p>
        </div>
        <div class="alert alert-danger" th:if="${messageDanger}">
            <p class="text text-center" th:text="${messageDanger}"></p>
        </div>
    </section>

    <div class="parallax d-flex justify-content-center align-items-center"
         th:style="'background-image:url(' + @{/img/athens_jumbotron_1280.jpg} + ');'">
        <div>
            <h1 class="text-white font-weight-bold" th:text="#{Room}">Room</h1>
            <h1 class="text-white font-weight-bold" style="animation-delay:2s" th:text="#{Flat}">Flat</h1>
            <h1 class="text-white font-weight-bold" style="animation-delay:4s"><span
                    th:text="#{House}">House</span><span
                    class="blinking">|</span>
            </h1>
        </div>
    </div>
    <th:block th:if="${!#lists.isEmpty(topProperties)}">
        <section class="px-2">
            <h2 class="font-weight-bold pt-5 pb-2" style="color:#435773" th:text="#{Discover}">Discover</h2>
            <section class="h-25 " th:include="UtilFragments :: property_carousel"></section>
            <h5 class="mt-2" style="color: #322F66">Advances one slide at a time</h5>
        </section>
    </th:block>
    <div class="parallax" th:style="'background-image:url(' + @{/img/intersection_top_down_2750.jpg} + ');'"></div>
</main>

<a th:replace="UtilFragments :: chat_button"></a>
<div th:replace="UtilFragments :: chat_popup">
</div>

<footer th:replace="fragments :: body_footer"></footer>
<div th:include="fragments :: scripts" th:remove="tag"></div>
<script th:src="@{/js/search-functionality.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script th:src="@{/js/websockets-chat.js}"></script>

</body>
</html>