<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:include="fragments :: headerfiles" th:remove="tag"></div>
    <title id="pageTitle" th:utext="#{Home.page.title}">Home</title>
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">

</head>
<body class="bg-light">

<section class="px-3 pt-4">
    <!-- Logo Band    -->
    <nav th:replace="fragments :: logo_band"></nav>
    <!-- Nav bar -->
    <nav th:replace="fragments :: nav_bar"></nav>
    <!-- Main body -->
    <main class="bg-light pt-5" id="propertiesParentMain">
        <!-- Search bar -->
        <div class="bg-light" th:include="fragments :: search_bar"></div>
        <div class="alert alert-success" th:if="${messageSuccess}">
            <p class="text text-center" th:text="${messageSuccess}"></p>
        </div>
        <section class="h-25 " th:include="UtilFragments :: property_carousel"></section>
    </main>
</section>


<!--Temporarily, to be removed-->
<div th:if="${#authentication.principal.isOauth2()}"> Not a Homie Account</div>
<div sec:authorize-url="/mod/**"><a th:href="@{/mod/users}">User List</a></div>


<a th:replace="UtilFragments :: chat_button"></a>
<div th:replace="UtilFragments :: chat_popup"></div>

<div th:include="fragments :: scripts" th:remove="tag"></div>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>