<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments :: headerfiles">
    </th:block>
    <title>Insert New Property</title>
</head>
<body>

<div class="container">
    <div class="col-sm-6 offset-sm-3 col-12">
        <h3 class="text-center" th:text="#{Sign-in}"></h3>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <p class="text-center text-secondary" th:text="#{Sign-in.with.account}"></p>
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-success" th:if="${messageSuccess}">
                            <p class="text text-center" th:text="${messageSuccess}"></p>
                        </div>
                        <div class="alert alert-danger" th:if="${messageDanger}">
                            <p class="text text-center" th:text="${messageDanger}"></p>
                        </div>
                        <form enctype="multipart/form-data" th:action="@{/list}" th:method="post"
                              th:object="${propertyDTO}">
                            <label th:for="description">Please Provide Description of Property</label>
                            <input th:field="*{description}" type="text"/>
                            <p th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Invalid
                                Description</p>
                            <label th:for="price">Please Provide Renting Price of Property</label>
                            <input step=".01" th:field="*{price}" type="number"/>
                            <p th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Invalid
                                value</p>
                            <label th:for="category">Please Provide Category</label>
                            <select name="category">
                                <option th:each="category : ${T(com.spring.group.models.property.Category).values() }"
                                        th:text="${category}" th:value="${category}"></option>
                            </select>
                            <label th:for="address_street">Please Provide street</label>
                            <input th:field="*{address_street}" type="text"/>
                            <p th:errors="*{address_street}" th:if="${#fields.hasErrors('address_street')}">Invalid
                                value</p>
                            <label th:for="address_number">Please Provide street number</label>
                            <input th:field="*{address_number}" type="number"/>
                            <p th:errors="*{address_number}" th:if="${#fields.hasErrors('address_number')}">Invalid
                                value</p>
                            <label th:for="address_city">Please Provide city</label>
                            <input th:field="*{address_city}" type="text"/>
                            <p th:errors="*{address_city}" th:if="${#fields.hasErrors('address_city')}">Invalid
                                value</p>
                            <label th:for="address_state">Please Provide state</label>
                            <input th:field="*{address_state}" type="text"/>
                            <p th:errors="*{address_state}" th:if="${#fields.hasErrors('address_state')}">Invalid
                                value</p>
                            <label th:for="address_zipCode">Please Provide zip code</label>
                            <input th:field="*{address_zipCode}" type="number"/>
                            <p th:errors="*{address_zipCode}" th:if="${#fields.hasErrors('address_zipCode')}">Invalid
                                value</p>
                            <label th:for="photoCollection">Please Provide Photos</label>
                            <input multiple="multiple" name="multipartFilesDocument" th:field="*{photoCollection}"
                                   type="file" value="multipartFilesDocument"/>
                            <input type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments :: body_footer"></footer>
<th:block th:include="fragments :: scripts">
</th:block>
</body>
</html>