<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments :: headerfiles">
    <title id="pageTitle" th:text="#{Login.page.title}">Login</title>
</head>
<body class="bg-light">
<section class="px-3 py-4">
    <!-- Logo Band -->
    <nav th:replace="fragments :: logo_band"></nav>
    <!-- Main body -->
    <main class="bg-light pt-2" id="propertiesParentMain">
        <h3 class="text-center" th:text="#{Sign-in}"></h3>
        <div class="row pt-4">
            <div class="col-sm-6 col-12 border-right">
                <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
                    <p class="text-center text-secondary" th:text="#{Sign-in.with.account}"></p>
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success" th:if="${param.logout}">
                                You have been logged out!
                            </div>
                            <div class="alert alert-danger" th:if="${param.error}"
                                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                <span th:text="${errorMsg}">Invalid input</span>
                            </div>
                            <div class="alert alert-success" th:if="${messageSuccess}">
                                <p class="text text-center" th:text="${messageSuccess}"></p>
                            </div>
                            <div class="alert alert-danger" th:if="${messageDanger}">
                                <p class="text text-center" th:text="${messageDanger}"></p>
                            </div>
                            <form method="post" th:action="@{/login}">
                                <fieldset>
                                    <div class="form-group pb-3">
                                        <label class="form-check-label text-secondary pb-1" for="username"
                                               th:text="#{Username}"></label>
                                        <input aria-describedby="usernameHelp" class="form-control" id="username"
                                               name="username" th:required="required" type="text">
                                    </div>
                                    <div class="form-group pb-3">
                                        <label class="form-check-label text-secondary pb-1"
                                               for="password" th:text="#{Password}"></label>
                                        <input class="form-control" id="password" name="password"
                                               th:required="required"
                                               type="password">
                                    </div>

                                    <div class="form-check pb-3">
                                        <input class="form-check-input" id="rememberMe" name="remember-me"
                                               type="checkbox"/>
                                        <label class="form-check-label font-weight-lighter" for="rememberMe"
                                               th:text="#{Remember.me}"></label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-green text-white text-center" th:text="#{Sign-in}"
                                                type="submit">
                                        </button>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                    <a th:href="@{/forgot-pass}">
                        <p class="font-weight-lighter text-secondary my-0" th:text="#{Password.forget}"></p>
                    </a>
                    <a th:href="@{/register}">
                        <p class="font-weight-lighter text-secondary my-0" th:text="#{Register}"></p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 align-self-center pt-sm-0 pt-4 pl-sm-0 pl-5">
                <div class="col-xl-10 col-md-10 offset-md-1 col-sm-11 offset-md-1 col-10 px-2 ">
                    <div class="row">
                        <button class="btn btn-dark social-button col-xl-7 offset-lg-7 col-sm-11 mx-sm-4 col-12 mx-1 my-2 text-left">
                            <img class="col-xl-2 col-md-2 col-sm-2 col-2 pr-0"
                                 th:src="@{/img/icons/github/github_logo_white_64.png}"
                                 th:srcset="@{/img/icons/github/github_logo.svg}">
                            <a class="col-xl-10 offset-xl-0 col-md-10 offset-md-0 col-sm-9 col-10 stretched-link text-white text-decoration-none text-center"
                               th:href="@{/oauth2/authorization/github}" th:text="#{Github.login}">
                                click here
                            </a>
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-facebook social-button col-xl-7 offset-lg-7 col-sm-11 mx-sm-4 col-12 mx-1 my-2 text-left">
                            <img class="col-xl-2 col-md-2 col-sm-2 col-2 pr-0"
                                 th:src="@{/img/icons/facebook/facebook_logo_64.png}"
                                 th:srcset="@{/img/icons/facebook/facebook_logo.svg}">
                            <a class="col-xl-10 offset-xl-0 col-md-10 offset-md-0 col-sm-9 col-10 stretched-link text-white text-decoration-none"
                               th:href="@{/oauth2/authorization/facebook}" th:text="#{Facebook.login}">click here</a>
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-google social-button col-xl-7 offset-lg-7 col-sm-11 mx-sm-4 col-12 mx-1 my-2 text-left">
                            <img class="col-xl-2 col-md-2 col-sm-2 col-2 pr-0"
                                 th:src="@{/img/icons/google/google_logo_64.png}"
                                 th:srcset="@{/img/icons/google/google_logo.svg}">
                            <a class="col-xl-10 offset-xl-0 col-md-10 offset-md-0 col-sm-9 col-10 stretched-link text-secondary text-decoration-none"
                               th:href="@{/oauth2/authorization/google}" th:text="#{Google.login}">click here</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<footer th:replace="fragments :: body_footer"></footer>
<div th:include="fragments :: scripts" th:remove="tag"></div>
</body>
</html>