<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <div th:include="fragments :: headerfiles" th:remove="tag"></div>
    <title id="pageTitle" th:text="#{User.profile.page.title}">Home</title>

</head>
<body class="bg-light">
<nav class="pt-4 px-3 navigation">
    <!-- Logo Band    -->
    <nav class="" th:include="fragments :: logo_band"></nav>
    <!-- Nav bar -->
    <nav th:replace="fragments :: nav_bar"></nav>
</nav>
<!-- Main body -->
<main class="bg-light pt-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-scrollable border-bottom mb-4 justify-content-center">
        <div class="navbar-expand" id="controlPanelToolbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="!${#lists.isEmpty(currentUserDetails)} ? active : ''">
                    <a class="nav-link async-nav-link" id="personalDetails" th:href="@{/my-profile/personal-details}"
                       th:data-async-href="@{/async/my-profile/personal-details}"
                       th:text="#{User.personal.info}"> </a>
                </li>
                <li class="nav-item"
                    th:classappend="${!#lists.isEmpty(userPropertiesOwned) || !#lists.isEmpty(userRentals)} ? active : ''">
                    <a class="nav-link async-nav-link" id="properties" th:href="@{/my-profile/properties}"
                       th:data-async-href="@{/async/my-profile/properties}"
                       th:text="#{User.properties}"></a>
                </li>
                <li class="nav-item"
                    th:classappend="${!#lists.isEmpty(userOffersReceived) || !#lists.isEmpty(userOffersSent)} ? active : ''">
                    <a class="nav-link async-nav-link" th:data-async-href="@{/async/my-profile/offers}"
                       th:href="@{/my-profile/offers}"
                       th:text="#{User.offers}"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="mainParent">
        <div class="alert alert-success spring-message" th:if="${messageSuccess}">
            <p class="text text-center" th:text="${messageSuccess}"></p>
        </div>
        <div class="alert alert-danger spring-message" th:if="${messageDanger}">
            <p class="text text-center" th:text="${messageDanger}"></p>
        </div>
        <th:block th:if="!${#lists.isEmpty(currentUserDetails)}">
            <div th:replace="control-panel/personal-details :: currentUserDetailsTable"></div>
        </th:block>
        <th:block th:if="!${#lists.isEmpty(userPropertiesOwned)}">
            <div th:replace="control-panel/properties :: userPropertiesOwned"></div>
        </th:block>
        <th:block th:if="!${#lists.isEmpty(userRentals)}">
            <div th:replace="control-panel/properties :: userPropertiesRenting"></div>
        </th:block>
        <th:block th:if="!${#lists.isEmpty(userOffersReceived)}">
            <div th:replace="control-panel/offers :: userOffersReceived"></div>
        </th:block>
        <th:block th:if="!${#lists.isEmpty(userOffersSent)}">
            <div th:replace="control-panel/offers :: userOffersSent"></div>
        </th:block>
    </div>


</main>
</section>
<footer th:replace="fragments :: body_footer"></footer>
<div th:include="fragments :: scripts" th:remove="tag"></div>
<script th:src="@{/js/control-panel.js}"></script>
</body>
</html>