<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico"/>
    <title th:text="#{Register.page.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/search-style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<section class="px-3 pt-4">
    <!-- Logo Band    -->
    <nav th:replace="fragments :: logo_band"></nav>
    <div class="alert alert-success" th:if="${messageSuccess}">
        <p class="text text-center" th:text="${messageSuccess}"></p>
    </div>
    <div class="alert alert-danger" th:if="${messageDanger}">
        <p class="text text-center" th:text="${messageDanger}"></p>
    </div>
    <!-- Main body -->
    <main class="bg-light pt-2" id="propertiesParentMain">
        <div th:if="${#authentication.principal.id != user.id}">
            <div sec:authorize-url="/mod/**">
                <form method="post" th:action="@{/mod/lock-user}">
                    Active:
                    <div th:text="${user.nonLocked}"></div>
                    <input name="userI" th:hidden="hidden" th:value="${user.id}">
                    <button class="btn btn-danger" type="submit">Ban/Unban</button>
                </form>
            </div>
            <div sec:authorize-url="/admin/**">
                <br>
                <form method="post" th:action="@{/admin/change-role}">
                    Role:
                    <div th:text="${user.userRole}"></div>
                    <input name="userID" th:hidden="hidden" th:value="${user.id}">
                    <button class="btn btn-primary" type="submit">Promote/Demote</button>
                </form>
                <br>
                <form method="post" th:action="@{/admin/change-all-properties-value}">
                    Set Value on ALL Properties:
                    <input name="userID" th:value="${user.id}" th:hidden="hidden">
                    <select name="value">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Set Search Value</button>
                </form>
            </div>
        </div>

        <div class="container">

            <div class="table-responsive table-hover">
                Properties
                <table class="table">
                    <tr>
                        <th>Category</th>
                        <th>Price</th>
                        <th>City / Address</th>
                        <th>Available</th>
                    </tr>
                    <tr th:each="property : ${user.propertyCollection}">
                        <td th:text="${property.category}"></td>
                        <td th:text="${property.price}"></td>
                        <td th:text="${property.address.city} +','+ ${property.address.street}+','+ ${property.address.number}"></td>
                        <td th:text="${property.available}"></td>
                    </tr>
                </table>
            </div>

            <div class="table-responsive table-hover">
                Rental offers:
                <table class="table">
                    <tr>
                        <th>Property</th>
                        <th>Price</th>
                    </tr>
                    <div th:each="property : ${user.propertyCollection}">
                        <span th:each="rental : ${property.rentalCollection}">
                            <span th:if="${rental.pending}">
                            <td th:text="${rental.residence.address.city}  +','+ ${rental.residence.address.street}+','+ ${rental.residence.address.number}"></td>
                            <td th:text="${rental.agreedPrice}"></td>
                            <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
                            <td>
                                <form method="post" th:action="@{/manage-offers}">
                                 <input name="rentalID" th:hidden="hidden" th:value="${rental.id}">
                                    <input hidden name="isAccepted" type="text" value="true">
                         <button class="btn btn-success" type="submit">Accept Offer</button>
                                </form>
                            </td>
                            <td>
                                 <form method="post" th:action="@{/manage-offers}">
                                <input name="rentalID" th:hidden="hidden" th:value="${rental.id}">
                                    <input hidden name="isAccepted" type="text" value="false">
                            <button class="btn btn-danger" type="submit">Decline</button>
                                 </form>
                            </td>
                                </span>
                            </span>
                        </span>

                    </div>
                </table>
            </div>


        </div>
    </main>
</section>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/jquery_ui-1.12.1.min.js}"></script>
</body>
</html>
