<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title th:text="#{Register.page.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/search-style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!--//TODO-Under Construction Page-->
<body class="bg-light">
<!--<header th:include="fragments :: body_header"></header>-->
<section class="px-3 pt-4">
    <!--Logo Navbar-->
    <header>
        <!-- Logo band -->
        <nav th:replace="fragments :: logo_band"></nav>
        <!-- Navigation Band -->
        <nav th:replace="fragments :: nav_bar"></nav>
    </header>
    <!-- Toolbar -->
    <div class="alert alert-success" th:if="${messageSuccess}">
        <p class="text text-center" th:text="${messageSuccess}"></p>
    </div>
    <div class="alert alert-danger" th:if="${messageDanger}">
        <p class="text text-center" th:text="${messageDanger}"></p>
    </div>
    <div class="row container pt-4">

        <div class="btn btn-light ">
            <div class="row border-top py-3">
                <!--                <div class="col-sm-4">-->
                <!--                    <img class="rounded object-fit_cover img-responsive"-->
                <!--                         height="250" th:src="@{property.Photo}">-->
                <!--                </div>-->
                <div class="col-sm-7 text-left">
                    <h5 class="font-weight-bold" th:text="*{property.description}">
                        Διαμέρισμα 90 τ.μ. προς ενοικίαση
                    </h5>
                    <p class="mb-0" th:text="*{property.address.city}"></p>
                    <p class="pt-0">
                        03-05-2020
                    </p>
                    <p class="pt-1">
                        <span class="border rounded bg-green p-1 font-weight-bold">
                            <span th:text="*{property.price}"></span>&euro;/μήνα</span>
                        <span class="pl-1">90 τμ</span>
                        <span class="pl-1">2&euro;/τμ</span>
                        <span class="pl-1">3 υπνοδωμάτια</span>
                    </p>
                </div>
                <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id != property.owner.id}">
                    <form method="post" th:action="@{/submit-offer}">
                        <input min="0" name="price" type="number"/>
                        <input name="propertyID" th:hidden="hidden" th:value="${property.id}">
                        <button class="btn btn-primary" type="submit">Submit Offer</button>
                    </form>

                </div>
            </div>


            <div sec:authorize-url="/mod/**">
                <form method="post" th:action="@{/mod/lock-property}">
                    Active:
                    <div th:text="${property.nonLocked}"></div>
                    <input name="propertyID" th:hidden="hidden" th:value="${property.id}">
                    <button class="btn btn-danger" type="submit">Lock/UnLock</button>
                </form>
            </div>
            <div sec:authorize-url="/admin/**">
                <br>
                <form method="post" th:action="@{/admin/change-property-value}">
                    Set Search Value of this Property:
                    <input name="propertyID" th:hidden="hidden" th:value="${property.id}">
                    <select name="value">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Set Search Value</button>
                </form>
            </div>


        </div>
    </div>
</section>
</body>
</html>
